{% extends 'chores/base.html' %}

{% load crispy_forms_tags %}

{% block content %}



<div>


    <br>
    <br>
    <br>
    <br>


    <div class="card card-cascade wider">
        <div class="view view-cascade overlay">
            <img class="card-img-top" src="{{chore.image.url}}" alt="Card image cap">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <div class="card-body card-body-cascade text-center">

            <!-- Title -->
            <h4 class="card-title"><strong>{{chore.owner}} has a balance of {{chore.owner.profile.balance}}</strong>
            </h4>
            <!-- Subtitle -->
            <h5 class="blue-text pb-2"><strong>This chore is worth {{chore.pay}}</strong></h5>

        </div>
    </div>

</div>

<form class="text-center border border-light p-5" action="{% url 'chores:approve_chores' chore.id %}" method="POST">
    <p class="h4 mb-4">Approve Chore</p>
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-info btn-block my-4" type="submit">Save</button>
</form>

{% endblock %}