{% extends 'chores/base.html' %}


<div class="container-fluid">
    <br>
    <p>
        <br>
        {% block content %}
        <br>
        <br>
        <br>
        <h1 class="text-center">Available Chores</h1>
        <br>
        {% for chore in chores %}

        <div class="list-group">
            <a href="{% url 'chores:edit_chore' chore.id %}"
                class="text-sm-center list-group-item list-group-item-action active">
                {{ chore }}
            </a>
        </div>
        {% empty %}
        <li>
            No chores available
        </li>
        {% endfor %}

        {% endblock %}

    </p>

</div>