{% extends 'chores/base.html' %}


{% block content %}


<p> {{ chore }} --- ${{ pay }} --- {{ exp }} </p>

<p>Edit Chore</p>


<form action="{% url 'chores:edit_chore' chore.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Edit Chore</legend>
        {{ form }}
    </fieldset>

    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Save chore</button>
    </div>
</form>

{% endblock %}